@font-face {
    font-family: Manrope;
    src: url('/fonts/Manrope/Manrope-VariableFont_wght.ttf');
  }

.btn-continue {
    background-color: #4B5AE4;
    font-family: Manrope;
    font-size: 26px;
    font-weight: bold;
    border: none;
    width: 170px;
    height: 70px;
    border-radius: 50px;
    color: white;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn-continue:active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(2px);
}

.btn-continue:hover:not(:disabled) {
    background: #1f32de;
    color: #f5bb3d;
}

.btn-continue:disabled {
    cursor: not-allowed;
    background: #A0A0A0;
    color: #CCCCCC;
    box-shadow: none;
    opacity: 0.6;
}
