@font-face {
  font-family: Sniglet-Regular;
  src: url('/fonts/Sniglet/Sniglet-Regular.ttf');
}

.lives-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 40px;
    border: 4px solid #c9cedd; 
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    width: 200px; 
    height: 90px;
  }
  
  .lives-text {
    font-size: 22px;
    font-family: Sniglet-Regular;
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .lives-container {
    display: flex;
    gap: px;
    align-items: center;
    justify-content: center;
  }
  
  .heart-icon {
    width: 40px; 
    height: 40px;
  }
  