.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #304FFE, #4C6EF5);
  width: 100%;
  height: 80px;
  padding: 0 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #2238B8;
}

.left-icons {
  display: flex;
  align-items: center;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.right-icons button{
  display: flex;
  align-items: center;
  background: #0A1F44;
  border-radius: 20px;
  padding: 6px 12px;
  color: white;
}