@font-face {
    font-family: Sniglet;
    src: url('/fonts/Sniglet/Sniglet-ExtraBold.ttf');
}

.play-btn {
    background: linear-gradient(to bottom, #4B5AE4, #4B5AE4);
    font-family: Sniglet;
    font-size: 50px;
    font-weight: bold;
    color: white;
    border: none;
    width: 220px;
    height: 70px;
    padding: 0; 
    border-radius: 45px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 0px #2B2E66, 
                0px 12px 16px rgba(0, 0, 0, 0.4), 
                inset 0px 4px 8px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1; 
}

.play-btn:active {
    box-shadow: 0px 4px 0px #2B2E66, 
                0px 6px 8px rgba(0, 0, 0, 0.3), 
                inset 0px 4px 8px rgba(255, 255, 0.5);
    transform: translateY(4px);
}

.play-btn:hover {
    background: linear-gradient(to bottom, #4B5AE4, #263580);
}
