@font-face {
    font-family: Sniglet-Regular;
    src: url('/fonts/Sniglet/Sniglet-Regular.ttf');
  }
  
  .remove-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .remove-card {
    background: white;
    width: 650px;
    height: 500;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .remove-xp-bar {
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
  }
  
  .remove-text {
    color: #F15151;
    font-family: Sniglet-Regular;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  
  .remove-message {
    font-family: Sniglet-Regular;
    font-size: 25px;
    color: #000;
    margin-bottom: 5px;
  }
  
  .remove-message-two {
    font-family: Sniglet-Regular;
    font-size: 25px;
    color: #000;
    margin-bottom: 30px;
  }
  
  .remove-button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .remove-yes-btn, .remove-no-btn {
    font-family: Sniglet-Regular;
    font-size: 25px;
    padding: 10px 20px;
    height: 60px;
    width: 120px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  .remove-yes-btn {
    background: #4c6ef5;
    color: white;
  }
  
  .remove-no-btn {
    background: #d9534f;
    color: white;
  }
  
  .remove-yes-btn:hover {
    background: #3b5bdb;
  }
  
  .remove-no-btn:hover {
    background: #c9302c;
  }