.return-btn {
  all: unset; /* Resets default button styles because it has shadows and idk why */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  left: 20px;
  top: 15%;
}

.return-btn img {
  width: 100%;
  height: auto;
}

.return-btn:hover {
  background: transparent !important; 
}

.return-btn:focus,
.return-btn:active {
  outline: none;
  box-shadow: none; 
}