@font-face {
    font-family: Sniglet;
    src: url('/fonts/Sniglet/Sniglet-ExtraBold.ttf');
}

.btn-submit {
    background-color: #4B5AE4;
    font-family: 'Sniglet', sans-serif;
    font-size: 32px;
    border: none;
    width: 200px;
    height: 80px;
    padding: 1rem;
    border-radius: 25px;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px black;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-submit:active {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

.btn-submit:hover:not(:disabled) {
    background: #1f32de;
}

.btn-submit:disabled {
    cursor: not-allowed; 
    background: #A0A0A0;
    color: #CCCCCC; 
    box-shadow: none; 
    opacity: 0.6; 
}
