@font-face {
  font-family: Sniglet-Regular;
  src: url('/fonts/Sniglet/Sniglet-Regular.ttf');
}

.xp-bar {
  display: flex;
  align-items: center;
  background-color: #162d63;
  border: 4px solid #678de0;
  border-radius: 40px; 
  padding: 6px 12px; 
  width: fit-content;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.xp-star {
  width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.xp-star img {
  width: 100%;
  height: 100%;
}

.xp-value {
  color: white;
  font-family: Sniglet-Regular;
  font-size: 28px;
  margin-left: 10px; 
}
