.home-container {
  background: url("../../assets/bg-img/auth-bg.png") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.home-logo {
  width: 1000px;
  height: auto;
}

.button-container {
  position: absolute;
  bottom: 50px; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
