body {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:100px ;
      
  }

  .btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    background-color: transparent;
    border: none;
    
  }

  .btn:hover {
    transform: scale(0.9);
  }

  img {
    width: 200px; 
    height: 100px;
  }