@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

button {
    font-size: 24px;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    cursor: pointer;  
    position: relative;
    text-decoration:underline ;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }