.logout-btn {
  all: unset;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none !important;
  position: absolute; 
  right: 170px; 
  top: 50%; 
  transform: translateY(-50%); 
}


  .logout-btn img {
    width: 50px;
    display: block;
  }
  
  .logout-btn:hover {
    background: transparent !important;
  }
  
  .logout-btn:focus,
  .logout-btn:active {
    outline: none;
    box-shadow: none;
  }
  