body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; 
    margin: 0;
}

/* 2x2 grid */
.quest-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    padding: 20px;
}

.quest-image-holder {
    width: 150px;
    height: 150px;
    background: white;
    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quest-image-holder img {
    max-width: 100%;
    max-height: 100%;
}
