.return-btn {
  all: unset; /* Resets default button styles because it has shadows and idk why */
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  left: 10;
  top: 50%;
  transform: translateY(-50%); 
}

.return-btn img {
  width: 60px;
}

.return-btn:hover {
  background: transparent !important; 
}

.return-btn:focus,
.return-btn:active {
  outline: none;
  box-shadow: none; 
}